<h1> You have {{todos.length}} Todos</h1>
<p>
    <ul>
        {{#each todos}}
        <li>Description: {{this.description}}</li>
        <li>Urgent: {{this.urgent}}</li>
        <br/>
        {{/each}}
    </ul>    
</p>