<!DOCTYPE html>
<html>

<head>
    <title>Todo Project Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="navbar">
        <a href="/todos">All Todos</a>
        <a href="/todos/new">New Todo</a>
    </div>
    {{{ body }}}
</body>

</html>