<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>STUDENTS AND PROJECTS</h1>
    <br/>
    <a href="/students">Home</a>
     | 
    <a href="/students/add">Add Student</a>
    {{{ body }}}
  </body>
</html>