<h1>Student - {{student.name}}</h1>
<p>
    {{#each student.projects}}
    Project Title: {{this.title}} | Project Unit Covered: {{this.unit}}<br>
    {{/each}}
</p>

<a href='/students/{{student.id}}/edit'>EDIT</a>